doctype html
head
  meta charset="utf-8"
  meta http-equiv="X-UA-Compatible" content="IE=edge"
  title タイトル
  meta name="keywords" content=""
  meta name="description" content=""
  link rel="stylesheet" href="css/reset.min.css"
  link rel="stylesheet" href="css/style.css"
  link rel="stylesheet" href="css/helper.css"
  scrpt src="js/modernizr-2.8.3.min.js"
body
  .wrap
    header.header
      .logo-area.txt-center.pt20
        a href="#"
         img src="img/logo.png"
      nav.global-nav
        ul.global-nav__primary.pcol20
          a href="#"
            li.global-nav__primary__item HOME
          a href="#"
            li.global-nav__primary__item ABOUT
          a href="#"
            li.global-nav__primary__item NEWS
          a href="#"
            li.global-nav__primary__item TOPICS
          a href="#"
            li.global-nav__primary__item DOCS
          a href="#"
            li.global-nav__primary__item BLOG
    .container.mt40
     .main
       a.keyvisual-area.img-items href="#"
         img src="img/hot_topic.jpg"
         .keyvisual-text-items
           .keyvisual-text
             span.keyvisual-text__date 2015.09.01 TUE
             div.mt30
               h3.fz20 実務で使えるHTML/CSS
               h3.fz20 モダンコーディングTIPS
             p.mt30.fz11.keyvisual-text__detail Webフロントエンドの進化の勢いはとどまるところを知りません。
               新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用して...
       article.mt30
         h3.content_topic.mb0 NEWS
         .news-contents
           section.news-content
             a href="#"
               span.news-date 2015.08.23 SUN
               span.category-label.category-label__news NEWS
               span WORKSを更新しました
           section.news-content.bg_slash
             a href="#"
               span.news-date 2015.08.23 SUN
               span.category-label.category-label__topic TOPIC
               span WORKSを更新しました
           section.news-content
             a href="#"
               span.news-date 2015.08.23 SUN
               span.category-label.category-label__news NEWS
               span WORKSを更新しました
           section.news-content.bg_slash
             a href="#"
               span.news-date 2015.08.23 SUN
               span.category-label.category-label__topic TOPIC
               span WORKSを更新しました
           section.news-content
             a href="#"
               span.news-date 2015.08.23 SUN
               span.category-label.category-label__topic TOPIC
               span WORKSを更新しました
           section.news-content.bg_slash
             a href="#"
               span.news-date 2015.08.23 SUN
               span.category-label.category-label__news NEWS
               span WORKSを更新しました
         .news-items-wrap.mt30
           a.img-items href="#"
             section.news-item
               img src="img/article.jpg"
               .prow20
                 .news-item__title 実務で使えるHTML/CSSモダンコーディングTIPS
                 .news-item__text 新しい要素が増えて大幅に表現力が広がったHTML
               .news-item__date
                 span.news-item__date__item 2015.06.17 WED
           a.img-items href="#"
             section.news-item
               img src="img/article.jpg"
               .prow20
                 .news-item__title 実務で使えるHTML/CSSモダンコーディングTIPS
                 .news-item__text 新しい要素が増えて大幅に表現力が広がったHTML
               .news-item__date
                 span.news-item__date__item 2015.06.17 WED

     .sub
       .ranking-wrap
         h3.content_topic RANKING
         a.img-items.ranking-content href="#"
           img.ranking-content__img src="img/ranking.jpg"
           span.ranking-content__rank.ranking-content__rank--first
           .ranking-content__text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
         a.img-items.ranking-content href="#"
           img.ranking-content__img src="img/ranking.jpg"
           span.ranking-content__rank.ranking-content__rank--second
           .ranking-content__text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
         a.img-items.ranking-content href="#"
           img.ranking-content__img src="img/ranking.jpg"
           span.ranking-content__rank.ranking-content__rank--third
           .ranking-content__text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックし
         a.img-items.ranking-content href="#"
           img.ranking-content__img src="img/ranking.jpg"
           span.ranking-content__rank.ranking-content__rank--common
           .ranking-content__text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックし
       .documents-wrap
         h3.content_topic.mt30 DOCUMENTS
         .documents-content
           .documents-content__title HTML5
           ul.documents-content__detail
             a href="#"
               li
                 img src="img/arrow.gif"
                 span.documents-content__detail__item 追加された要素
         .documents-content
           .documents-content__title HTML5
           ul.documents-content__detail
             a href="#"
               li
                 img src="img/arrow.gif"
                 span.documents-content__detail__item 追加された要素
       .search-wrap
         .search_items
           input.search-window type="text" name="searh" placeholder="SEARCH"
           button.search-button type="button" name="button" 検索
         p.fz13.mt10 サイト内の文章を検索できます。

    footer.footer.txt-center
      ul.footer_nav.mb30
        a href="#"
          li ABOUT ME
        a href="#"
          li SITE MAP
        a href="#"
          li SNS
        a href="#"
          li CONTACT

      span.copyright Copyright © 2015 SAMPLE SITE
